/*font*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
   
    
}

#followImage {
    transform: translate(-50%, -50%);
pointer-events: none;
}

a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
  }
  


/*text*/
.beginning {
      position: absolute;
      top: 80vh;
      left: 50vw;
      
}

.middle {
      position: absolute;
      top: 15vh;
      left: 10vw;
      
      
    }
    
.end {
      position: absolute;
      top: 40vh;
      left: 90vw;
      
    }

.beginning,
.middle,
.end {
  position: absolute;
  filter: blur(.3em); /* Apply blur effect initially */
  transition: filter 0.5s cubic-bezier(1,1,1,1); /* Gradual transition */
}

.beginning:hover,
.middle:hover,
.end:hover {
  filter: blur(0); /* Remove blur effect on hover */
}


    .black-rectangle {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        animation: fade 5s forwards; /* Applying the fade animation */
        animation-delay: .25s;
        pointer-events: none;
    }
    
    @keyframes fade {
        0% {
            opacity: 1; /* Initial opacity */
        }
        100% {
            opacity: 0; /* Disappear */
        }

}

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 10vw;
}
  
  .grid-item {
    padding: 20px;
  }
  
  .text {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 2fr;
    }
  }
